<h1>Test</h1>
<p>Lot Number : <%= @lot.lotNumber %></p>
<p>Carpark location : <%= @lot.carpark.location %> </p>
<% if @lot.taken %>
	<p>Taken by car plate: <%= @lot.vehicle.license_plate %></p>
	<% else %>
	<p>Not taken</p>
	<% end %>

<h1>Summon infrit to destroy the illegal car</h1>